.postContainer {
    width: 90%;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 1rem 0;
  }
  
  .postWrapper {
    padding: 3rem;
  }
  
  .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  .postTopRight{
    display: flex;
    align-items: center;
  }
  .postTopRightEdit{
  color: limegreen;
  margin-right: 2rem;
  cursor: pointer;
  background: gray;
  border-radius: 50%;
  }
  .postTopRightDelete{
  color: red;
  cursor: none;
  background: gray;
  border-radius: 50%;
  }

  
  .postProfileImg {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .postUsername{
      font-size: 3rem;
      font-weight: 500;
      margin: 0 10px;
      text-transform: capitalize;
  }
.postDate{
    font-size: 1rem;
    color: darkslategrey;
}
.postCenter{
    margin: 2rem 0;
    font-size: 2rem;
}
.postImg{
    margin-top: 2rem;
    width: 100%;
    max-height: 50rem;
    object-fit: contain;
}
.postBottom{
  border: 10px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.postBottomRight{
  display: flex;
  align-items: center;
}
.likeIcon{
    margin-right: 5px;cursor: pointer;
}
.postLikeCounter{
    font-size: 2rem;
}
.postCommentText{
  margin-right: 5px;cursor: pointer;
}

.badge{
  color: black;
  font-weight: bolder;
}