.sidebarContainer{
/* flex: 15%; */
height: 50rem;
overflow-y: scroll;
position: sticky;
top: 30vh;
}
::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179);
}


.sideWrapper{
padding: 2rem;
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display:flex;
    align-items: center;
    margin-bottom: 2rem;
}
.sidebarIcon{
margin-right: 1.5rem;
}
.sidebarButton{
    width: 15rem;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
}
.sidebarHr{
    margin: 2rem 0;
}
.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}